body{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    text-align: justify;
    background-color: blanchedalmond;
    text-indent: 10px;
}

table.table1{
    width: 100%;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

h1{
    text-align: center;
}

h3{
    text-decoration: underline;
}